* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

h1 {
  margin: 10px;
}

input {
  margin: 3px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 2px;
  border-radius: 3px;
}

button {
  margin-left: 10px;
  border-radius: 3px;
  padding: 2px;
}